.profile {
  padding: 100px 20px 60px; /* top - sides - bottom */
  text-align: center;
  max-width: 1200px; /* más grande que 1000px, opcional */
  margin: 0 auto;
}

.profile-description {
  margin-bottom: 40px;
}

.profile-description h2 {
  font-size: 2.5rem;
  color: #ffffff;
  padding-top: 100px;
}

.profile-description p {
  font-size: 1.2rem;
  color: #ffffff;
  max-width: 800px;
  margin: 20px auto 0;
}

.profile-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.skill-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.skill-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #3502ff;
}

.skill-info h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 8px;
}

.skill-stars {
  font-size: 1.2rem;
  color: #ccc;
}

.star.filled {
  color: #f7c948;
}

.contact-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column; /* Poner uno debajo del otro */
  align-items: center;
  gap: 20px;
}

.contact-button {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 50%; 
  text-align: center;
  transition: background-color 0.3s ease;
}

.linkedin {
  background-color: #0077b5; /* Azul LinkedIn */
}

.github {
  background-color: #333; /* Gris GitHub */
}

.contact-button:hover {
  opacity: 0.85;
}

