.header {
  position: fixed; /* Fija el header arriba */
  top: 0;
  left: 0;
  width: 95%; /* Que ocupe todo el ancho */
  z-index: 1000; /* Se quede por encima del resto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #121212;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00c896;
}
